__pycache__
/Word2Vec-practice/zhwiki/zhwiki-latest-pages-articles.xml.bz2
/Word2Vec-practice/zhwiki/data
/Word2Vec-practice/zhwiki/wiki_texts.txt
/Word2Vec-practice/zhwiki/wiki_zh_tw.txt
/Word2Vec-practice/zhwiki/zhwiki_WS.txt

/SimpleTransformers-practice/outputs
/SimpleTransformers-practice/runs
/SimpleTransformers-practice/cache_dir
